html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'LatoBlack';
  background: #50577A;
  overflow-x: hidden;
}

::-webkit-scrollbar-x {
  display: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
strong {
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: 600;
}