html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  background: #50577A;
  overflow-x: hidden;
  font-family: 'sans-serif';
}

h1 h2 h3 h4 h5 h6 small strong button p a {
  font-family: 'sans-serif';
}

::-webkit-scrollbar-x {
  display: none;
}

:root {
  --background-color-app: #272742;
  --hovers: rgb(228, 154, 80);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

strong {
  letter-spacing: 5px;
  font-size: 1.3rem;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  strong {
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 625px) {
  strong {
    font-size: 1.1rem;
  }

}