.hamburger {
    position: absolute;
    top: -60px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 32px;
}

.container_all_breadcrumb_hamburger {
    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 4;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #112B3C;
    border-top: 0px solid rgb(133, 130, 130);
    border-bottom: 2px solid rgb(133, 130, 130);
    box-shadow: 0px 25px 35px rgba(0, 0, 0, 35%);

    transition: 0.2s;
}

.container_all_breadcrumb {
    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 3;

    width: 100%;
    height: 40px;
    background-color: #112B3C;
    margin-bottom: 25px;
    border-top: 0px solid rgb(133, 130, 130);
    border-bottom: 2px solid rgb(133, 130, 130);
    box-shadow: 0px 25px 35px rgba(0, 0, 0, 35%);

    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s;
}

.bradcrumb_allfilter {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.bradcrumb_allfilter select {
    background: none;
    border: none;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;

   font-family: 'sans-serif';
    outline: 0;
    border: 0 !important;
}

.bradcrumb_allfilter select option {
    color: #112B3C;
}

.bradcrumb_allfilter select:hover {
    color: rgb(133, 130, 130);
    transition: 0.2s;
}

.searchbar_burger {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

@media screen and (max-width: 992px) {
    .container_all_breadcrumb_hamburger {
        height: 170px;
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 655px) {
    .container_all_breadcrumb_hamburger {
        height: 220px;
        flex-direction: column;
        align-items: center;
    }

    .bradcrumb_allfilter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 425px;
    }
    
    .bradcrumb_allfilter select {
        font-size: 1rem;
    }
}

@media screen and (max-width: 435px) {
    .container_all_breadcrumb_hamburger {
        height: 335px;
        flex-direction: column;
        align-items: center;
    }

    .bradcrumb_allfilter {
        flex-direction: column;
        align-items: center;
    }

    .searchbar_burger {

        margin-bottom: 27px;
    }

    .bradcrumb_allfilter select {
        font-size: 0.9rem;
    }
}