.cardDog {
    background:rgba(128, 128, 128, 0.678);
    width: 300px;
    height: 450px;
    margin: 15px;
    border-radius: 5px;
    border: 2px  rgba(128, 128, 128, 0.678);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    font-family: 'LatoBlack';
}

.cardDog img{
    margin-top: 15px;
    border-radius: 8px;
    width: 90%;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cardDog:hover{
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.301);
    border: 2px  rgba(255, 255, 255, 0.301);
}