.detailBtn {
    background:rgba(128, 128, 128, 0.678);
    width: 100px;
    height: 27px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 2px  rgba(128, 128, 128, 0.678);
    cursor: pointer;
    font-family: 'LatoBlack';
    font-size: 16px;
    margin-bottom: 25px;
}

.detailBtn:hover {
    background: rgba(255, 255, 255, 0.301);
    border: 2px  rgba(255, 255, 255,0.301);
}

.imgPick {
    width: 470px;
    height:370px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    
}

.detailBody {
    background:rgba(128, 128, 128, 0.850);
    border-radius: 5px;
    border: 2px  rgba(128, 128, 128, 0.850);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-family: 'LatoBlack';
    width: 450px;
    height: 350px;
    margin-bottom: 40px;
} 

.conjunto {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.deleteBtn{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    top: -355px;
    right: -210px;
    background:rgba(187, 125, 125, 0.748);
    border: 2px rgba(187, 125, 125, 0.748);
    cursor: pointer;
}
.deleteBtn:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 2px  rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

@media screen and (max-width: 1250px){

    .conjunto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgPick {
        margin-top: 80px;
        margin-bottom: 40px;
        width: 310px;
        height: 220px;
    }

    .detailBody {
        width: 290px;
        height: 380px;
    }
    .deleteBtn{
        width: 25px;
        height: 25px;
        top: -360px;
        right: -135px;
    }
}