.dogBackBtn {
    background:rgba(255, 255, 255, 0.596);
    width: 100px;
    height: 27px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 2px  rgba(255, 255, 255, 0.18);
    cursor: pointer;
    font-family: 'LatoBlack';
    font-size: 16px;
}

.dogBackBtn:hover {
    background: rgba(255, 255, 255, 0.301);
}

.dogCreateBtn {
    background:rgba(255, 255, 255, 0.596);
    width: 100px;
    height: 42px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 2px  rgba(255, 255, 255, 0.18);
    cursor: pointer;
    font-family: 'LatoBlack';
    font-size: 16px;
}

.dogCreateBtn:hover {
    background: rgba(255, 255, 255, 0.301);
}

.nameLabel {
    background:rgba(255, 255, 255, 0.596);
    color: black;
    font-weight: bold;
    border-radius: 5px 0px 0px 5px;
    border: 2px  rgba(255, 255, 255, 0.18);
    font-family: 'LatoBlack';
    font-size: 16px;
    padding: 3.5px;
    margin-bottom: 16px;
}

.inputCreate {
    background:rgba(255, 255, 255, 0.596);
    height: 16px;
    max-width: 200px;
    padding: 4.5px;
    color: black;
    font-size: 15px;
    border: 2px  rgba(255, 255, 255, 0.18);
    border-radius:  0px 5px 5px 0px;
    font-family: 'LatoBlack';
    font-size: 16px;
    margin-bottom: 16px;
}

.nameLabelTemperament {
    background:rgba(255, 255, 255, 0.596);
    color: black;
    font-weight: bold;
    border-radius: 5px 0px 0px 5px;
    border: 2px  rgba(255, 255, 255, 0.18);
    font-family: 'LatoBlack';
    font-size: 16px;
    padding: 4px;
    margin-bottom: 16px;
}

.inputCreateTemperament {
    background:rgba(255, 255, 255, 0.596);
    height: 26px;
    padding: 4px;
    font-size: 15px;
    border: 2px  rgba(255, 255, 255, 0.18);
    border-radius:  0px 5px 5px 0px;
    cursor: pointer;
    font-family: 'LatoBlack';
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}

.nameLabelNameBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanError {
    margin-left: 20px;
    background: black;
    padding: 5px;
    border-radius: 5px;
    color: #db3659;
    font-size: 14px;
  }