.contenedor {
    background-color: rgba(128, 128, 128, 0.850);
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;
    width: 400px; 
    border-radius: 5px;
    margin-bottom: 60px;
}


.dogBackBtn {
    background:rgba(128, 128, 128, 0.678);
    width: 100px;
    height: 27px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 2px  rgba(128, 128, 128, 0.678);
    cursor: pointer;
    font-family: 'LatoBlack';
    font-size: 16px;
}

.dogBackBtn:hover {
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.301);
    border: 2px  rgba(255, 255, 255, 0.301);
}

.dogCreateBtn {
    background:rgba(255, 255, 255, 0.301);
    width: 100px;
    height: 42px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 2px  rgba(255, 255, 255, 0.301);
    cursor: pointer;
    font-family: 'LatoBlack';
    font-size: 16px;
}

.dogCreateBtn:hover {
    background: rgba(128, 128, 128, 0.678);
    border: 2px  rgba(128, 128, 128, 0.678);
    transition: 0.3s;
}

.nameLabel {
    background:rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    width: 135px;
    border-radius: 5px 0px 0px 5px;
    border: 2px  rgba(255, 255, 255, 0.5);
    font-family: 'LatoBlack';
    font-size: 16px;
    padding: 3.5px;
    margin-bottom: 16px;
}

.inputCreate {
    background:rgba(255, 255, 255, 0.5);
    height: 16px;
    max-width: 180px;
    padding: 4.5px;
    color: black;
    font-size: 15px;
    border: 2px  rgba(255, 255, 255, 0.5);
    border-radius:  0px 5px 5px 0px;
    font-family: 'LatoBlack';
    font-size: 16px;
    margin-bottom: 16px;
}

.inputCreate::placeholder{
    color: rgb(111, 109, 109);
}

.nameLabelTemperament {
    background:rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    width: 130px;
    border-radius: 5px 0px 0px 5px;
    border: 2px  rgba(255, 255, 255, 0.5);
    font-family: 'LatoBlack';
    font-size: 16px;
    padding: 4px;
    margin-bottom: 16px;
}

.inputCreateTemperament {
    background:rgba(255, 255, 255, 0.5);
    height: 26px;
    padding: 4px;
    font-size: 15px;
    border: 2px  rgba(255, 255, 255, 0.5);
    border-radius:  0px 0px 0px 0px;
    cursor: pointer;
    font-family: 'LatoBlack';
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}

.inputCreateTemperament:hover {
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.301);
    border: 2px  rgba(255, 255, 255, 0.301);
}

.buttonCleanTemperament{
    background:rgba(255, 255, 255, 0.5);
    border: 2px  rgba(255, 255, 255, 0.5);
    border-radius:  0px 5px 5px 0px;
    font-family: 'LatoBlack';
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    cursor: pointer;
    padding: 4px;
    color: black;
}

.buttonCleanTemperament:hover {
    background: rgba(255, 255, 255, 0.301);
    border: 2px  rgba(255, 255, 255, 0.301);
    transition: 0.3s;
}

.nameLabelNameBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.spanError {
    margin-left: 20px;
    background: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border-radius: 5px;
    color: #db3659;
    font-size: 14px;
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
  }

  .listTemps {
    display: flex;
    background: black;
    padding: 5px;
    width: 315px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
  }
 
  @media screen and (max-width: 1250px){
    .contenedor {
        width: 310px; 
    }
    
    .nameLabel {
        width: 125px;
    }

    .inputCreate {
        width: 130px;
    }

    .nameLabelTemperament {
        width: 130px;
    }
    .inputCreateTemperament {
        width: 85px;
    }
  }
