html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

.contenedorFooter {
  background-color: var(--background-color-app);
  box-shadow: 0px -25px 35px rgba(0, 0, 0, 35%);
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
  padding-top: 12px;
  padding-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.posiciones_foot{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 15px;
}

.icon_footer {
  font-size: 32px;
  margin: 0px 30px;
  color: white;
  transition: 0.2s;
}

.icon_footer:hover {
  color: var(--hovers);
  transition: 0.2s;
}

.footer_small {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: white;
  font-family: 'sans-serif';
}

@media screen and (max-width: 992px) {
  .icon_footer {
    font-size: 30px;
    margin: 0px 15px;
  }
  .footer_small {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 625px) {
  .contenedorFooter {
    flex-direction: column;
  }

  .icon_footer {
    font-size: 28px;
    margin: 0px 10px;
  }
  .footer_small {
    font-size: 0.7rem;
  }
}