html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }

.contenedorFooter {
    background-color: rgb(68, 67, 67);
    color: white;
    position: absolute; 
    bottom: 0px;
    width: 100%;
    height: 40px;
    font-family: 'LatoBlack';
    font-size: 14px;
    
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.contenedorFooter p{
    margin: 10px;
    color: #fff;
}

.contenedorFooter p a{
    color: #fff;
}

