.contenedorCards {
    margin-top: 235px;
    margin-bottom: 150px;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

@media screen and (max-width: 992px) {
    .contenedorCards {
        margin-bottom: 185px;
    }
}

@media screen and (max-width: 625px) {
    .contenedorCards {
        margin-bottom: 235px;
    }
}