.landingBtn {
    background:rgba(168, 164, 164, 0.568);
    width: 100px;
    height: 50px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 2px  rgba(168, 164, 164, 0.568);
    cursor: pointer;
    font-family: 'LatoBlack';
    font-size: 18px;
}

.landingBtn:hover {
    background: rgba(255, 255, 255, 0.301);
    border: 2px  rgba(255, 255, 255, 0.301);
    transition: 0.3s;
}

.byTomas {
    color: black;
    
}

@media screen and (max-width: 1250px){
    .landingBtn  {
    position: relative;
    top: 230px;
    }

    .byTomas {
        position: relative;
        top: 230px; 
    }

}