.contenedorLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.fondo_landing {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/DogDesktop.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -10;
}

.contenedorLanding h1 {
    font-weight: 600;
    font-size: 3.1rem;
    letter-spacing: 6px;
}

.contenedorLanding h2 {
    font-weight: 400;
    font-size: 2.7rem;
    cursor: pointer;
    margin: 0px;
    margin-top: 50px;
    transition: 0.7s;
    padding: 12px;
    border-radius: 10px;
    letter-spacing: 3px;
}

.contenedorLanding h2:hover {
    transition: 0.3s;
    color: var(--hovers);
    background: var(--background-color-app);
}

.contenedorLanding h4 {
    margin-top: -25px;
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 2px;
}



@media screen and (max-width: 625px) {
    .contenedorLanding h1 {
        font-size: 2.9rem;
    }

    .contenedorLanding h2 {
        font-size: 2.6rem;
        margin-top: 35px;
    }

    .contenedorLanding h4 {
        font-size: 1.6rem;
        margin-top: -5px;

    }
}


@media screen and (max-width: 375px) {
    .contenedorLanding h1 {
        font-size: 2.6rem;
    }

    .contenedorLanding h2 {
        font-size: 2.3rem;
    }

    .contenedorLanding h4 {
        font-size: 1.3rem;
    }

}