.paginado{
    display: inline-flex;
    font-weight: bolder;
}

.paginado li {
    display: inline;
    background:rgba(255, 255, 255, 0.5);
    color: black;
    padding: 6px 12px;
    margin: 0 2px;
    width: 25px;
    font-size: 20px;
    font-family: 'LatoBlack';
    border-radius: 5px;
    border: 2px rgba(255, 255, 255, 0.5);   
    cursor: pointer;
    
}

.paginado li:hover {
    background-color: rgba(255, 255, 255, 0.301);
    border: 2px  rgba(255, 255, 255, 0.301);
}

.contenedorPaginado {
    background-color: rgba(128, 128, 128, 0.850);
    
}

.loading {
    background-color: none;

}

@media screen and (max-width: 1100px){
    .paginado{
        display: flex;
        flex-wrap: wrap;
        margin-right: 35px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .paginado li {
    display: inline;
    background:rgba(255, 255, 255, 0.5);
    color: black;
    padding: 6px 12px;
    margin: 6px;
    width: 25px;
    font-size: 20px;
    font-family: 'LatoBlack';
    border-radius: 5px;
    border: 2px rgba(255, 255, 255, 0.5);  
        
    } 
    
}