.breadcrumb_paginado {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.breadcrumb_paginado h6 {
    color: white;
    font-size: 1.1rem;
    font-weight: 400;

    font-family: 'LatoBlack';
}

.breadcrumb_paginado button {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    transition: 0.2s;
    cursor: pointer;
    padding: 10px;
}

.breadcrumb_paginado button:hover {
    color: rgb(133, 130, 130);
    transition: 0.2s;
}

@media screen and (max-width: 1250px){
    .paginado{
        display: flex;
        flex-wrap: wrap;
        margin-right: 35px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .paginado li {
    display: inline;
    background:rgba(255, 255, 255, 0.5);
    color: black;
    padding: 6px 12px;
    margin: 6px;
    width: 25px;
    font-size: 20px;
    font-family: 'LatoBlack';
    border-radius: 5px;
    border: 2px rgba(255, 255, 255, 0.5);  
        
    } 
    
}