.breadcrumb_paginado {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.breadcrumb_paginado h6 {
    color: white;
    font-size: 1.1rem;
    font-weight: 400;

   font-family: 'sans-serif'; 
}

.breadcrumb_paginado button {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    transition: 0.2s;
    cursor: pointer;
    padding: 12px;
}

.breadcrumb_paginado button:hover {
    color: var(--hovers);
    transition: 0.2s;
}

@media screen and (max-width: 625px) {
    .breadcrumb_paginado h6 {
        font-size: 1rem;
    }

    .breadcrumb_paginado button {
        font-size: 20px;
        padding: 10px;
    }
}