.container_all_searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid white;
    transition: 0.2s;
}

.container_all_searchbar:hover {
    border-bottom: 2px solid rgb(133, 130, 130);
    transition: 0.2s;
}

.container_all_searchbar input {
    color: white;
    padding-left: 15px;

    background: none;
    border: transparent;
    border-radius: 0px;
    outline: 0px;

    margin-right: 10px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-family: 'LatoBlack';
}

.container_all_searchbar input::placeholder {
    color: rgb(133, 130, 130);
    font-size: 0.7rem;
    font-family: 'LatoBlack';
    letter-spacing: 1px;
}

.container_all_searchbar button {
    border: none;
    border-radius: 0px;
    background: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.2s;
    cursor: pointer;
}
.cotainer_icon_searchbar{
    font-size: 20px;
}

.container_all_searchbar button:hover {
    color: rgb(133, 130, 130);
    transition: 0.2s;
}


.navbar_center {
    display: flex;
    align-items: center;
    gap: 30px
}

.navbar_center_btn {
    background: none;
    border: none;
    color: white;
    transition: 0.2s;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px
}

.navbar_center_btn:hover {
    color: rgb(133, 130, 130);
    transition: 0.2s;
}

.navbar_center_btn small {
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: 1px;
}
